	*{
		font-family: Arial;
		box-sizing: border-box;
	}
	div.sbeditor-container {
		background: #b0c7ec;
		margin: 20px 0px; 
	    width: 500px;
	    padding: 10px;
	}
	div.sbeditor-container > input.sbeditor-preview-button{
		background: #dadada;
		padding: 5px 10px;
		border: 1px solid #b1b1b1;
		outline: none;
		cursor: pointer;
	}
	div.sbeditor-container > div.sbeditor-textbox-container > textarea.sbeditor-textbox,textarea {
		background: #dadada;
		width: 100%;
		margin: 10px 0px;
		outline: none;
		resize: none;
		height: 120px;
		border: 1px solid #b1b1b1;
	}
	textarea{
		width: 500px;
		display: block;
	} 
